@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap');

#root {
  font-size: 95%;
}

body{
  font-family: 'Montserrat', sans-serif !important;
}
.nav-item {
  cursor: pointer !important;
}

.row {
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.container-fluid{
  width: 90% !important;
}
.my-joblisting{
  margin-bottom: 80px;
}

.my-joblisting h4 {
  color: #37897b;
  padding: 1.3rem;
  font-weight: bolder;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}

a{
  color: black !important;
}

.big-font{
  font-size: 60px !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  box-shadow: none !important;
}

p.header-font{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color:#2b2e33;
}

.navbar-brand {
  font-weight: 600;
}

.btnSignUp{
  background-color: #90caf9!important;
}

.row{
  background-color: #90caf936;
}

.joblisting-title{
  text-align: center;
  margin-top: 25px;
  font-weight: 600;
  color: #37474f;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.leni{
  background-color: red!important;
  color: pink!important;
}

.cancel-btn{
  background-color: #ffb74d!important;;
}

#root > main > div > div > form > button{
  background-color: #90caf9!important;
  color: black!important;
}

#root > main > div > div > div > form > button{
  background-color: #90caf9!important;
  color: black!important;
}

i{
  color: #37474f!important;
}

footer.page-footer .footer-copyright {
  background-color: #90caf9!important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:1;
  left: -0;
}

#root > main > section > footer > div.footer-copyright.text-center.py-4 > div{
  color: #244183 !important;
}