@import '~bootstrap/scss/bootstrap';

.nav-item {
  cursor: pointer !important;
}

.row {
	background-color: #dfdfdf;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.container-fluid{
  width: 90% !important;
}

.my-joblisting h4 {
  color: #37897b;
  padding: 1.3rem;
  font-weight: bolder;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}